{% extends 'base.html' %}
{% load static %}
{% block title %}Edição de Universidade{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url({% static '/images/administrationTemp2.jpg' %})" id="courseRegistrationHeader">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Edição de Unidade</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Use esta página para editar uma Unidade de Ensino diponível no site</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseRegisterField">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <form method="POST" action="{% url 'put_university' %}"  enctype="multipart/form-data">{%csrf_token %}

                    <h1>Editar Unidade de Ensino</h1>
                    <hr>
                    </hr>

                    <div class="col-md-4 mb-3 mt-3">
                        <label for="is_activate" class="form-label">Ativar/Inativar Universidade</label>
                        <select id="is_activate" class="form-select" name="is_activate" required>
                            <option selected disabled>Selecione</option>
                            <option {% if universities.is_activate == True %} selected {% endif %} value=True>Ativo</option>
                            <option {% if universities.is_activate == False %} selected {% endif %} value=False>Inativo</option>
                        </select>
                    </div>

                    <div class="row">

                        <div class="col-md-5 mb-3 mt-3">
                            <label for="name" class="form-label">Nome&#42</label>
                            <input type="text" name="name" class="form-control" id="name" value="{{universities.name}}" required>
                        </div>

                        

                        <div class="col-md-5 mb-3 mt-3">
                            <label for="emailUniversity" class="form-label">E-mail&#42</label>
                            <input class="form-control" type="email" name="emailUniversity" id="emailUniversity" value="{{universities.email}}" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="zipCode" class="form-label">CEP&#42</label>
                            <input type="text" name="zipCode" class="form-control" id="zipCode" 
                            onkeypress="$('#zipCode').mask('99999-999');" value="{{universities.zip_code}}" required>
                        </div>

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="street" class="form-label">Rua&#42</label>
                            <input type="text" name="street" class="form-control" id="street" value="{{universities.street}}" required>
                        </div>

                        <div class="col-md-2 mb-3 mt-3">
                            <label for="houseNumber" class="form-label">Número&#42</label>
                            <input type="number" name="houseNumber" class="form-control" id="houseNumber" value="{{universities.house_number}}" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="neighborhood" class="form-label">Bairro&#42</label>
                            <input type="text" name="neighborhood" class="form-control" id="neighborhood" value="{{universities.neighborhood}}" required>
                        </div>
                        <div class="col-md-4 mb-3 mt-3">
                            <label for="city" class="form-label">Cidade&#42</label>
                            <input type="text" name="city" class="form-control" id="city" value="{{universities.city}}" required>
                        </div>

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="state" class="form-label">Estado&#42</label>
                            <select id="state" class="form-select" name="state" required>
                                <option value = "" selected disabled>Selecione</option>
                                <option {% if universities.state == 'SC' %} selected {% endif %} value="SC">Santa Catarina</option>
                            </select>
                        </div>

                        

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="phone">Telefone Fixo&#42</label>
                            <input class="form-control" id="phone" name="phone"
                                pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4}$" onkeypress="$('#phone').mask('(99) 9999-9999');" value="{{universities.telephone}}" required>
                        </div>

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="optionalPhone">Celular</label>
                            <input class="form-control" name="optionalPhone" id="optionalPhone"
                                pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}$" onkeypress="$('#optionalPhone').mask('(99) 99999-9999');" value="{{universities.phone_number}}">
                        </div>

                    <div class="row">
                        <div class="col-md-6 mb-3 mt-3">
                            <label for="courses" class="form-label">Cursos Cadastrados na Universidade</label>
                            <select id="courses" class="form-select" name="courses" multiple>
                                <option selected disabled>Selecione</option>
                                {% if courses_uni %}
                                {% for courses_uni in courses_uni %}
                                <option selected value="{{courses_uni.id}}">{{courses_uni.name}}, 
                                    {{ courses_uni.course_type }}, 
                                    {{ courses_uni.modality }}, 
                                    {{ courses_uni.occupation_area }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="courses_add" class="form-label">Cursos Disponiveis</label>
                            <select id="courses_add" class="form-select" name="courses_add" multiple>
                                <option selected disabled>Selecione</option>
                                {% if courses %}
                                {% for courses in courses %}
                                    <option value="{{courses.id}}">{{courses.name}}, 
                                        {{ courses.course_type }}, 
                                        {{ courses.modality }}, 
                                        {{ courses.occupation_area }}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>
                    </div>

                        <div class="row">

                            <div class="col-md-6 mb-3 mt-3">
                                <label for="attendance" class="form-label">Horário de Atendimento&#42</label>
                                <textarea type="text" name="attendance" class="form-control" id="attendance" rows="4" required>{{universities.attendance}}</textarea>
                            </div>
                        </div>

                        </div>

                        <div class="row">

                            <div class="col-md-4 mb-3 mt-3">
                                <label for="file" class="form-label">Imagem Card da Universidade</label>
                                <input class="form-control" type="file" name="universityImage" id="universityImage">
                            </div>

                            <div class="col-md-4 mb-3 mt-3">
                                <label for="localization" class="form-label">Localização (Maps)&#42</label>
                                <input type="text" name="localization" class="form-control" id="localization" required value="{{universities.localization}}">
                            </div>


                            <div class="col-md-5 mb-3 mt-3">
                                <input type="hidden" name="univesity_id" class="form-control" id="univesity_id" value="{{universities.id}}" required>
                            </div>

                        </div>

                        

                        <div class="col-12 mb-3 mt-3">
                            <button type="submit" class="btn btn-success-outline">Salvar</button>
                        </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script>
    check_zip_code();
</script>

{% endblock content %}