{% load static %}
<button onclick="topFunction()" id="myBtn" title="Go to top">&#8593</button>

<section data-bs-version="5.1" class="footer7 cid-footerCredits" once="footers" id="footer7-8">

    <section data-bs-version="5.1" class="footer7 cid-footerCredits" once="footers" id="footer7-8"
        style="padding: 0;align-items: center;justify-content: center;flex-wrap: wrap; align-content: center;display: flex;position: relative;height: 4rem;">
        <a href="https://mobiri.se/" style="flex: 1 1;height: 4rem;position: absolute;width: 100%;z-index: 1;"><img
                alt="" style="height: 4rem;"
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" target="_blank"></a>
        <p style="margin: 0;text-align: center;" class="display-7 text-white">Serviço Nacional de Aprendizagem Comercial - SC &#8204;</p><a
            style="z-index:1" href="https://mobirise.com/offline-website-builder.html"
            class="display-7 text-black" target="_blank"></a>
    </section>
    <script src="{% static 'ytplayer/index.js' %}"></script>


    <div class="container">
        <div class="media-container-row align-center mbr-white">
            <div class="col-12">
                <p class="mbr-text mb-0 mbr-fonts-style display-7">
                    © Copyright 2022 Quinta Fase ADS - Todos os Direitos Reservados
                </p>
            </div>
        </div>
    </div>

    <script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'smoothscroll/smooth-scroll.js' %}"></script>
    <script src="{% static 'dropdown/js/navbar-dropdown.js' %}"></script>
    <script src="{% static 'sociallikes/social-likes.js' %}"></script>
    <script src="{% static 'theme/js/script.js' %}"></script>
    <script src="{% static 'theme/js/scroll-to-top.js' %}"></script>
    <script src="https://code.iconify.design/2/2.2.1/iconify.min.js"></script>
    
