{% load static %}


<div class="container">
    <div class="row mt-4">
            <input class="form-control col-12 col-lg-3" aria-label="Search" type="search" 
         name="search" placeholder="Pesquisar curso" id="searchGraduationCourse"
         hx-post="{% url 'courses_results' %}",
         hx-trigger="keyup changed delay:500ms, search" 
         hx-target="#courses_results">
            </div>

            <div class="form-check form-switch mt-2">
                <input class="form-check-input" 
                type="checkbox" 
                name="switchSubscription"
                id = "switchSubscription"
                hx-post="{% url 'courses_results' %}",
                hx-target="#courses_results"> 
                <label class="form-check-label" for="switchSubscription">Inscrições Abertas</label>
            </div>

</div>

<script>
    const chk1 = document.getElementById("switchSubscription")
    const sea = document.getElementById("searchGraduationCourse")
    sea.addEventListener('keydown',(event) => {
    if(chk1.checked){
        chk1.checked = false
    }
    }); 
</script>
