{% load static %}
<section data-bs-version="5.1" class="contacts4 cid-socialMedia" id="contacts4-f">

    <div class="container">
        <div class="row align-items-center justify-content-center">
            <div class="text-content col-12 col-md-6">
                <h2 class="mbr-section-title mbr-fonts-style display-2"><strong>Siga o senac nas redes
                        sociais</strong></h2>
                <p class="mbr-text mbr-fonts-style display-7">Para acompanhar mais conteúdos e noticias sobre nossos
                    trabalhos dentro da unidade Senac, siga nossas páginas nas redes sociais</p>
            </div>
            <div class="icons d-flex align-items-center col-12 col-md-6 justify-content-end mt-md-0 mt-2 flex-wrap">
                <a href="https://twitter.com/senacsc" target="_blank">
                    <span class="socicon-twitter socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                <a href="https://pt-br.facebook.com/SenacSC/" target="_blank">
                    <span class="socicon-facebook socicon mbr-iconfont mbr-iconfont-social"></span>
                </a>
                <a href="https://www.youtube.com/user/SenacSC/featured" target="_blank">
                    <span class="mbr-iconfont mbr-iconfont-social socicon-youtube socicon"></span>
                </a>
                <a href="https://instagram.com/senacsantacatarina" target="_blank">
                    <span class="mbr-iconfont mbr-iconfont-social socicon-instagram socicon"></span>
                </a>
            </div>
        </div>
    </div>

</section>
