{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro de Inscrição{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}

<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url({% static '/images/administrationTemp2.jpg' %})" id="courseRegistrationHeader">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Cadastro de Inscrição</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Cadastre aqui uma nova inscrição</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseRegisterField">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                {% include 'partials/_messages.html' %}
                <form method="POST" action="{% url 'post_enrollment' %}" onSubmit="return compareDates();">
                    {%csrf_token %}

                    <h1>Nova Inscrição</h1>
                    <hr>
                    </hr>

                    <div class="row">

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="date_initial" class="form-label">Data inicial&#42</label>
                            <input type="date" name="date_initial" class="form-control" id="date_initial" required>
                        </div>
                      
                        <div class="col-md-3 mb-3 mt-3">
                            <label for="date_final" class="form-label">Data final&#42</label>
                            <input type="date" name="date_final" class="form-control" id="date_final" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="universities" class="form-label">Unidades Disponíveis&#42</label>
                            <select id="university" class="form-select" name="university" hx-get="{% url 'enrollment_select' %}" hx-target="#course_enrollment" required>
                                <option selected disabled value="">Selecione</option>
                                {% if universities %}
                                {% for universities in universities %}
                                <option value="{{universities.id}}">{{universities.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="courses" class="form-label">Cursos Disponíveis&#42</label>
                            <select id="course_enrollment" class="form-select" name="course_enrollment" required>
                                {% include 'partials/enrollmentPartials/_enrollments_results.html' %}
                            </select>
                        </div>

                    </div>

                    <div class="col-12 mb-3 mt-3">
                        <button type="submit" class="btn btn-success-outline">Cadastrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% comment %} <script>
    const date_initial = document.getElementById("date_initial");
    const date_final = document.getElementById("date_final");

    console.log(date_final);
    date_final.addEventListener('change', compareDates());
    
        function compareDates(){
        if (date_initial > date_final) {
            alert('teste');
        }
    };

</script> {% endcomment %}

{% endblock content %}