{% extends 'base.html' %}
{% load static %}
{% block title %}Contato{% endblock %}
{% block content %}

{% include 'partials/_menu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/contactTemp.jpg')" id="info3-m">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Contato</strong><strong><br></strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5" class="form5 cid-emailField mt-5 mb-5" id="form5-d">


    <div class="container">
        <div class="mbr-section-head ">
            <h3 class="mbr-section-title text-white mbr-fonts-style align-center mb-0 display-5">
                <strong>Contate uma Unidade Senac</strong>
            </h3>

                <p class="mbr-text text-white align-center mbr-fonts-style mt-3 display-7">Para saber mais sobre os cursos, entre
                    em contato com uma unidade do Senac Santa Catarina
                </p>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="{% url 'contact' %}" method="POST" class="mbr-form form-with-styler">{%csrf_token %}

                    <div class="row">
                        <div data-form-alert="" class="alert alert-success col-12" hidden="hidden">Thanks for filling
                            out
                            the form!</div>
                        <div data-form-alert-danger="" class="alert alert-danger col-12" hidden="hidden">Oops...! some
                            problem!</div>
                    </div>

                    <div class="dragArea row">

                        <div class="col col-sm-6 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Nome Completo" data-form-field="name"
                                class="form-control" value="" id="name" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3" data-for="phone_number">
                            <input type="text" name="phone_number" placeholder="Telefone" data-form-field="phone_number"
                                class="form-control" value="" id="telefone" pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$" maxlength="15" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                                class="form-control" value="" id="email" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3">
                            <select id="universities" class="form-select" name="universities">
                                <option selected disabled>Selecione uma Unidade</option>
                                {% if universities %}
                                {% for universities in universities %}
                                <option value="{{universities.id}}">{{universities.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="message" placeholder="Mensagem" data-form-field="message"
                                class="form-control" id="message"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <div style="position: absolute; left: -100000px; opacity: 0;" contenteditable="true"></div>
                            <button type="submit" class="btn btn-danger display-4">Enviar E-mail</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% include 'partials/_social.html' %}
{% include 'partials/_footer.html' %}
{% endblock %}