{% extends 'base.html' %}
{% load static %}
{% block title %}Contato{% endblock %}
{% block content %}

{% include 'partials/_menu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/contactTemp.jpg')" id="info3-m">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Contato</strong><strong><br></strong>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section class="features3 cid-searchLists" id="topBody">

    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">

                    <div class="text-wrapper">

                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
                            <strong>Ouvidoria</strong>
                        </h4>

                        <hr class="mb-5">
                        </hr>

                        <p class="mbr-text mbr-fonts-style mb-4 display-7">&nbsp&nbsp&nbsp&nbsp&nbspEsta Ouvidoria
                            abrange as demandas do Senac
                            Santa Catarina e visa atender o registro de: Sugestões, Informações, Elogios, Reclamações.
                            Os dados pessoais são necessários e serão utilizados somente para as ações relacionadas ao
                            registro. Caso o manifestante tenha interesse de que algum dado não seja usado, pedimos a
                            gentileza que seja feito o registro no corpo da mensagem.</p>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7"><strong>Atendimento Telefônico
                                Ouvidoria</strong></p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7"><strong>Atendimento Presencial</strong></p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">0800 123 1234</p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">0800 123 1234 (Agendamento por telefone)</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">De segunda à sexta <br> Das 08:30 às 12:00 e
                            das 13:00 às 17:30</p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">De segunda à sexta</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

<section data-bs-version="5" class="form5 cid-emailField mt-5 mb-5" id="form5-d">

    <div class="container">
        <div class="mbr-section-head ">
            <h3 class="mbr-section-title text-white mbr-fonts-style align-center mb-0 display-5">
                <strong>Contate uma Unidade Senac</strong>
            </h3>

            <p class="mbr-text text-white align-center mbr-fonts-style mt-3 display-7">Para saber mais sobre os cursos,
                entre
                em contato com uma unidade do Senac Santa Catarina
            </p>

        </div>
        <div class="row justify-content-center mt-4">
            <div class="col-lg-8 mx-auto mbr-form" data-form-type="formoid">
                <form action="{% url 'contact' %}" method="POST" class="mbr-form form-with-styler">{%csrf_token %}

                    <div class="row">
                        <div data-form-alert="" class="alert alert-success col-12" hidden="hidden">Thanks for filling
                            out
                            the form!</div>
                        <div data-form-alert-danger="" class="alert alert-danger col-12" hidden="hidden">Oops...! some
                            problem!</div>
                    </div>

                    <div class="dragArea row">

                        <div class="col col-sm-6 form-group mb-3" data-for="name">
                            <input type="text" name="name" placeholder="Nome Completo" data-form-field="name"
                                class="form-control" value="" id="name" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3" data-for="phone_number">
                            <input type="text" name="phone_number" placeholder="Telefone" data-form-field="phone_number"
                                class="form-control" value="" id="telefone" pattern="\([0-9]{2}\) [0-9]{4,5}-[0-9]{4}$"
                                maxlength="15" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3" data-for="email">
                            <input type="email" name="email" placeholder="E-mail" data-form-field="email"
                                class="form-control" value="" id="email" required>
                        </div>

                        <div class="col col-sm-6 form-group mb-3">
                            <select id="universities" class="form-select" name="universities">
                                <option selected disabled>Selecione uma Unidade</option>
                                {% if universities %}
                                {% for universities in universities %}
                                <option value="{{universities.id}}">{{universities.name}}</option>
                                {% endfor %}
                                {% endif %}
                            </select>
                        </div>

                        <div class="col-12 form-group mb-3" data-for="textarea">
                            <textarea name="message" placeholder="Mensagem" data-form-field="message"
                                class="form-control" id="message"></textarea>
                        </div>

                        <div class="col-lg-12 col-md-12 col-sm-12 align-center mbr-section-btn">
                            <div style="position: absolute; left: -100000px; opacity: 0;" contenteditable="true"></div>
                            <button type="submit" class="btn btn-danger display-4">Enviar E-mail</button>
                        </div>

                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

<section class="features3 cid-searchLists" id="topBody">

    <div class="container">
        <div class="content-wrapper">
            <div class="row align-items-center">
                <div class="col-12 col-lg">

                    <div class="text-wrapper">

                        <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-5">
                            <strong>Denuncias</strong>
                        </h4>

                        <hr class="mb-5">
                        </hr>

                        <p class="mbr-text mbr-fonts-style mb-4 display-7">Canal destinado ao registro de Denúncias
                            relacionadas direta ou indiretamente ao Senac Santa Catarina.<br>
                            As denúncias poderão estar relacionadas aos seguintes assuntos:
                        </p>

                        <ul>
                            <li class="mbr-text mbr-fonts-style display-7">Situações ou suspeitas de atos de corrupção
                                (conforme Lei Anticorrupção nº 12.846/2013);</li>
                            <li class="mbr-text mbr-fonts-style display-7">Desvios de conduta e assédio;</li>
                            <li class="mbr-text mbr-fonts-style display-7">Descumprimento do Código de Conduta Ética.
                            </li>
                        </ul>

                        <p class="mbr-text mbr-fonts-style mb-4 display-7">Os dados pessoais são necessários e serão
                            utilizados somente para as ações relacionadas ao registro. Caso o manifestante tenha
                            interesse de que algum dado não seja usado, pedimos a gentileza que seja feito o registro no
                            corpo da mensagem. O sigilo, independência, imparcialidade e não retaliação aos
                            manifestantes de boa-fé são garantidas.
                        </p>

                    </div>
                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7"><strong>Atendimento Telefônico
                                Ouvidoria</strong></p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7"><strong>Atendimento Presencial</strong></p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">0800 123 1234</p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">0800 123 1234 (Agendamento por telefone)</p>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">De segunda à sexta <br> Das 08:30 às 12:00 e
                            das 13:00 às 17:30</p>
                    </div>

                    <div class="col-md-4">
                        <p class="mbr-text mbr-fonts-style mb-2 display-7">De segunda à sexta</p>
                    </div>

                </div>

            </div>
        </div>
    </div>
</section>

{% include 'partials/_social.html' %}
{% include 'partials/_footer.html' %}
{% endblock %}