{% extends 'base.html' %}
{% load static %}
{% block title %}Unidades{% endblock %}
{% block content %}

{% include 'partials/_menu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/universities-temp.jpg')" id="info3-m">

    <div class="mbr-overlay" style="opacity: 0.4; background-color: rgb(68, 121, 217);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Unidades</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Encontre aqui a unidade ideal para o seu ensino</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-searchLists" id="features3-n">

    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Unidades de
                    Ensino</strong></h4>
        </div>

        <div class="container">
            <div class="row mt-4">
                <form class="form-inline" action="">
                    <input class="form-control col-12 col-lg-3" id="searchUniversity" type="search" name="buscar"
                        placeholder="Pesquisar Unidades" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" id="searchUniversityBtn" type="submit"><span
                            class="iconify" data-icon="ic:outline-search" style="color: primary" data-width="30"
                            data-height="30"></span></button>
                </form>
            </div>

            <div class="row mt-4">
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="{% static 'images/senacsc-594x540.png' %}" height="300px">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Senac Palhoça</strong></h5>
                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'university' %}"
                                class="btn btn-outline-primary item-btn display-7">Leia Mais</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="{% static 'images/senac-brusque-800x426.jpg' %}" height="300px">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Senac Blumenal</strong></h5>


                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'university' %}"
                                class="btn btn-outline-primary item-btn display-7">Leia Mais</a></div>
                    </div>
                </div>
                <div class="item features-image сol-12 col-md-6 col-lg-4">
                    <div class="item-wrapper">
                        <div class="item-img">
                            <img src="{% static 'images/senac-joinville-816x542.jpg' %}" height="300px">
                        </div>
                        <div class="item-content">
                            <h5 class="item-title mbr-fonts-style display-7"><strong>Senac Joinville</strong></h5>

                        </div>
                        <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'university' %}"
                                class="btn btn-outline-primary item-btn display-7">Leia Mais</a></div>
                    </div>
                </div>
            </div>
        </div>


</section>

{% include 'partials/_social.html' %}
{% include 'partials/_footer.html' %}
{% endblock %}