{% extends 'base.html' %}
{% load static %}
{% block title %}Unidades{% endblock %}
{% block content %}

{% include 'partials/_menu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/universities-temp.jpg')" id="info3-m">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <br></strong><br><strong>Unidades</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Encontre aqui a unidade ideal para o seu ensino</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-searchLists" id="features3-n">

    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-0 display-2"><strong>Unidades de
                    Ensino</strong></h4>
        </div>

        {% include 'partials/_searchUniversity.html'%}
        {% include 'partials/_universities_results.html'%}




</section>

{% include 'partials/_social.html' %}
{% include 'partials/_footer.html' %}
{% endblock %}