{% extends 'base.html' %}
{% load static %}
{% block title %}Lista de Cursos{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}

<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url({% static '/images/administrationTemp2.jpg' %})" id="info3-m">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Lista de Cursos</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Aqui está a lista de cursos disponíveis!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<div class="animate__animated animate__fadeOut animate__delay-3s">
    {% include 'partials/_messages.html' %}
</div>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseListField">

    <div class="container d-flex justify-content-start">

            <div class="col-lg-4">
                <a class="btn btn-outline-primary display-3" href="{% url 'courseRegistration' %}">Cadastrar
                    Curso</a>
            </div>

    </div>

    <div class="container mbr-fonts-style display-7">
        <div class="row justify-content-center">
            <div class="col-12 col-lg table-responsive">

                <table class="table align-middle">
                    <thead class="table-primary text-white" style="text-align: center;">
                        <tr>
                            <th scope="col">Status</th>
                            <th scope="col">Nome</th>
                            <th scope="col">Tipo de Curso</th>
                            <th scope="col">Modalidade</th>
                            <th scope="col">Gerenciamento</th>
                        </tr>
                    </thead>
                    <tbody style="text-align: center;" id="tbody">

                        {% for courses in courses %}
            
                            <td scope="row">{% if courses.is_activate == True%} Ativo {% else %} Inativo {% endif %} </td>
                            
                            <td scope="row">
                                <a href="{% url 'courseDetails' courses.id %}" style="color: blue; text-decoration:underline;">
                                    {{courses.name}}
                                </a>
                            </td>
                            
                            <td scope="row">
                                {{courses.course_type}}
                            </td>
                            <td scope="row">{{courses.modality}}</td>
                        
                            <td scope="row">
                                <a href="{% url 'courseMaintenance' courses.id %}" type="button" class="btn btn-danger-outline">Editar</a>
                            </td>
                                
                        </tr>
                        {% endfor %}
                        </tbody>

                </table>
            </div>
        </div>
    </div>
</section>



{% endblock content %}