{% extends 'base.html' %}
{% load static %}
{% block title %}Administração{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerAdministration" id="info3-m">

    <div class="mbr-overlay" style="opacity: 0.6; background-color: rgb(68, 121, 217);">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Administração</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Seja bem vindo a área de administração</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

{% include 'partials/_footer.html' %}
{% endblock content %}