{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro de Curso{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}

<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/administrationTemp2.jpg')" id="courseRegistrationHeader">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Cadastro de Faculdade</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Use esta página para cadastrar uma nova opção de curso/faculdade diponível no site (Graduação/Pós-Graduação)</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseRegisterField">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <form action="{% url 'courseRegistration' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <h1>Novo Curso/Faculdade</h1>
                    <hr></hr>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="name" class="form-label">Nome</label>
                            <input type="text" name="name" class="form-control" id="name" required>
                        </div>

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="durationTime" class="form-label">Tempo de Duração (Total Horas)</label>
                            <input type="number" name="durationTime" class="form-control" id="durationTime" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="courseType" class="form-label">Tipo de Curso</label>
                            <select id="courseType" class="form-select" name="courseType" required>
                                <option selected disabled>Escolha uma opção</option>
                                <option value="GRADUACAO">Graduação</option>
                                <option value="POS_GRADUACAO">Pós-Graduação</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="modalities" class="form-label">Modalidade</label>
                            <select id="modalities" class="form-select" name="modalities" required>
                                <option selected disabled>Escolha uma opção</option>
                                <option value="PRESENCIAL">Educação Presencial</option>
                                <option value="HIBRIDO">Educação Híbrida</option>
                                <option value="EAD">Educação a Distância</option>
                                
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-2 mb-3 mt-3">
                            <label for="mecScore" class="form-label">Nota do MEC</label>
                            <select id="mecScore" class="form-select" name="mecScore" required>
                                <option selected disabled>Selecione</option>
                                <option value="MEC1">NOTA 1</option>
                                <option value="MEC2">NOTA 2</option>
                                <option value="MEC3">NOTA 3</option>
                                <option value="MEC4">NOTA 4</option>
                                <option value="MEC5">NOTA 5</option>
                            </select>
                        </div>

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="occupationArea" class="form-label">Area de atuação</label>
                            <select id="occupationArea" name="occupationArea" class="form-select" required>
                                <option selected disabled>Selecione</option>
                                <option value="saude">Ambiente e Saúde</option>
                                <option value="educacional">Desenvolvimento Educacional e Social</option>
                                <option value="gestao">Gestão e Negócios</option>
                                <option value="informacao">Informação e Comunicação</option>
                                <option value="alimenticia">Produção Alimentícia</option>
                                <option value="design">Produção Cultural e Design</option>
                                <option value="seguranca">Segurança</option>
                                <option value="turismo">Turismo, Hospitalidade e Lazer</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="curriculum" class="form-label">Grade Curricular</label>
                            <input type="file" name="curriculum" id="curriculum">
                        </div>

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="courseImage" class="form-label">Imagem Card do Curso</label>
                            <input type="file" name="courseImage" id="courseImage">
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="courseObjective" class="form-label">Objetivo do Curso</label>
                            <textarea type="text" rows="4" name="courseObjective" class="form-control"
                                id="courseObjective" required></textarea>
                        </div>

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="completionProfile" class="form-label">Perfil de Conclusão</label>
                            <textarea type="text" rows="4" name="completionProfile" class="form-control"
                                id="completionProfile" required></textarea>
                        </div>

                    </div>


                    <div class="row">
                        <div class="col-sm-2 mb-3 mt-3">
                            <button type="submit" class="btn btn-success-outline">Cadastrar</button>
                        </div>
                        
                        <div class="col-sm-2 mb-3 mt-3">
                            <a class="btn btn-outline-primary display-3" href="{% url 'courseList' %}">Voltar</a>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>
{% endblock content %}