{% extends 'base.html' %}
{% load static %}
{% block title %}Administração{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages" style= "background-image: url({% static '/images/administrationTemp2.jpg' %})" id="info3-m">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Administração</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Seja bem vindo a área de administração</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="registerField">


    <div class="container">
        <div class="mbr-section-head">
            <h4 class="mbr-section-title mbr-fonts-style align-center mb-5 display-2"><strong>Cadastro de Itens</strong></h4>

        </div>

        <div class="row mt-4">
            <div class="item features-image сol-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'images/map-register.png' %}"
                            alt="" width="300px" height="300px">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5"><strong>Unidades</strong></h5>

                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Area criada para o cadastro de novas unidades de ensino</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'universityList' %}"
                            class="btn item-btn btn-outline-primary display-7">Entrar</a></div>
                </div>
            </div>
           
            <div class="item features-image сol-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'images/graduation-register.jpg' %}" alt="" width="300px" height="300px">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <div><strong>Cursos</strong></div>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Cadastre por aqui todos os cursos disponíveis</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'courseList' %}"
                            class="btn item-btn btn-outline-primary display-7">Entrar</a>
                    </div>
                </div>
            </div>

            <div class="item features-image сol-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'images/enrollmentCal.png' %}" alt="" width="300px" height="300px">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <div><strong>Inscrições</strong></div>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Realize por aqui o cadastro de todas as inscrições disponíveis</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'enrollmentList' %}"
                            class="btn item-btn btn-outline-primary display-7">Entrar</a>
                    </div>
                </div>
            </div>
            
            <div class="item features-image сol-12 col-lg-4">
                <div class="item-wrapper">
                    <div class="item-img">
                        <img src="{% static 'images/subjectTemp.jpg' %}" alt="" width="300px" height="300px">
                    </div>
                    <div class="item-content">
                        <h5 class="item-title mbr-fonts-style display-5">
                            <div><strong>Matérias</strong></div>
                        </h5>
                        <p class="mbr-text mbr-fonts-style mt-3 display-7">Cadastro das matérias disponíveis nos cursos</p>
                    </div>
                    <div class="mbr-section-btn item-footer mt-2"><a href="{% url 'subjectList' %}"
                            class="btn item-btn btn-outline-primary display-7">Entrar</a>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

{% include 'partials/_footer.html' %}
{% endblock content %}