{% extends 'base.html' %}
{% load static %}
{% block title %}Cadastro de Universidade{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}
<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url('../../../static/images/administrationTemp2.jpg')" id="courseRegistrationHeader">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Cadastro de Unidade</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Use esta página para cadastrar uma nova opção de Unidade de Ensino diponível no site</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseRegisterField">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <form method="POST" action="">

                    <h1>Nova Unidade de Ensino</h1>
                    <hr></hr>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="name" class="form-label">Nome</label>
                            <input type="text" name="name" class="form-control" id="name">
                        </div>

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="durationTime" class="form-label">Tempo de Duração (Total Horas)</label>
                            <input type="number" name="durationTime" class="form-control" id="durationTime">
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-3 mb-3 mt-3">
                            <label for="modalities" class="form-label">Modalidade</label>
                            <select id="modalities" class="form-select" name="modalities">
                                <option selected disabled>Escolha uma opção</option>
                                {% comment %} {% for c in categorias%}
                                {%if contato.categoria.id == c.id%}
                                <option selected value="{{c.id}}">{{c.nome}}</option>
                                {%else%}
                                <option value="{{c.id}}">{{c.nome}}</option>
                                {%endif%}
                                {% endfor %} {% endcomment %}
                            </select>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-2 mt-2">
                            <label for="telefone">Telefone</label>
                            <input class="form-control" id="telefone" name="phone"
                                pattern="\([0-9]{2}\) [0-9]{4}-[0-9]{4}$">
                        </div>

                        <div class="col-md-4 mb-2 mt-2">
                            <label for="optionalPhone">Celular (Opcional)</label>
                            <input class="form-control" id="optionalPhone" name="optionalPhone"
                                pattern="\([0-9]{2}\) [0-9]{5}-[0-9]{4}$">
                        </div> 

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="emailUniversity" class="form-label">E-mail</label>
                            <input class="form-control" type="email" name="emailUniversity" id="emailUniversity">
                        </div>

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="universityImage" class="form-label">Imagem Card da Universidade</label>
                            <input class="form-file" type="file" name="universityImage" id="universityImage">
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="courseObjective" class="form-label">CEP</label>
                            <textarea type="text" name="courseObjective" class="form-control"
                                id="courseObjective"></textarea>
                        </div>

                        <div class="col-md-4 mb-3 mt-3">
                            <label for="completionProfile" class="form-label">Perfil de Conclusão</label>
                            <textarea type="text" name="completionProfile" class="form-control"
                                id="completionProfile"></textarea>
                        </div>

                    </div>

                    <div class="col-12 mb-3 mt-3">
                        <button type="submit" class="btn btn-success-outline">Cadastrar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

<script src="{% static 'theme/js/phone.mask.js' %}"></script>
{% endblock content %}