{% extends 'base.html' %}
{% load static %}
{% block title %}Edição de Matéria{% endblock title %}
{% block content %}
{% include 'partials/_administrationMenu.html' %}

<section data-bs-version="5.1" class="info3 cid-headerPages"
    style="background-image: url({% static '/images/administrationTemp2.jpg' %})" id="courseRegistrationHeader">

    <div class="mbr-overlay">
    </div>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <div class="card-wrapper">
                    <div class="card-box align-center">
                        <h4 class="card-title mbr-fonts-style align-center mb-4 display-2">
                            <strong><br></strong><br><strong>Edição de Matéria</strong><strong><br></strong>
                        </h4>
                        <p class="mbr-text mbr-fonts-style mb-4 display-7">
                            Edite aqui uma matéria criada anteriormente</p>

                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<section data-bs-version="5.1" class="features3 cid-modalities" id="courseRegisterField">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-lg-10">
                <form method="POST" action="">
                    {%csrf_token %}

                    <h1>Nova Matéria</h1>
                    <hr>
                    </hr>

                    <div class="row">

                        <div class="col-md-5 mb-3 mt-3">
                            <label for="name" class="form-label">Nome&#42 (Somente Letras)</label>
                            <input type="text" name="name" class="form-control" id="name" value={{ subjects.name }} pattern="[A-Za-záàâãéèêíïóôõöúçñÁÀÂÃÉÈÍÏÓÔÕÖÚÇÑ ]+$" required>
                        </div>

                    </div>

                    <div class="row">

                        <div class="col-md-6 mb-3 mt-3">
                            <label for="description" class="form-label">Descrição&#42</label>
                            <textarea class="form-control" rows="5" type="text" name="description" id="description" required>{{ subjects.description }}</textarea>
                        </div>

                    </div>

                    <div class="col-md-5 mb-3 mt-3">
                        <input type="hidden" name="subject_id" class="form-control" id="subject_id" value={{ subjects.id }} required>
                    </div>

                    <div class="col-12 mb-3 mt-3">
                        <button type="submit" class="btn btn-success-outline">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</section>

{% endblock content %}